In [18]:
import requests
import pandas as pd

In [15]:
api_url1 = "https://api.openaq.org/v2/measurements"
# api_url1 = "https://api.openaq.org/v2/locations"
# api_url1 = "https://api.openaq.org/v2/parameters"
# api_url1 = "https://api.openaq.org/v2/sources"

response = requests.get(api_url1)

In [16]:
print(response.text)

{"detail":"Connection timed out"}

In [9]:
print(response.json())

{'detail': 'Connection timed out'}

Displaying AQI data by county. 2021

In [19]:
data=pd.read_csv("annual_aqi_by_county_2021.csv")
data.head()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
0,Alabama,Baldwin,2021,280,264,16,0,0,0,0,61,48,35,0,0,221,59,0
1,Alabama,Clay,2021,110,101,9,0,0,0,0,67,47,27,0,0,0,110,0
2,Alabama,DeKalb,2021,361,331,30,0,0,0,0,84,49,36,0,0,320,41,0
3,Alabama,Elmore,2021,241,238,3,0,0,0,0,87,44,32,0,0,241,0,0
4,Alabama,Etowah,2021,286,253,33,0,0,0,0,77,51,36,0,0,213,73,0

In [21]:
data.describe()

,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
count,1002.0,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000,1002.000000
mean,2021.0,325.237525,261.518962,58.525948,3.820359,1.148703,0.173653,0.049900,125.816367,58.303393,35.946108,0.554890,4.973054,177.534930,130.660679,11.513972
std,0.0,74.587962,70.426290,45.320876,9.099718,4.533023,2.431434,0.501252,104.944313,17.919505,10.447102,8.474295,28.125207,119.317629,114.623881,47.061105
min,2021.0,7.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,7.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2021.0,336.250000,227.000000,23.000000,0.000000,0.000000,0.000000,0.000000,90.000000,49.000000,33.000000,0.000000,0.000000,95.000000,7.000000,0.000000
50%,2021.0,362.000000,279.000000,49.000000,1.000000,0.000000,0.000000,0.000000,108.000000,56.000000,37.000000,0.000000,0.000000,198.500000,119.000000,0.000000
75%,2021.0,365.000000,313.000000,83.750000,4.000000,0.000000,0.000000,0.000000,144.000000,64.000000,41.000000,0.000000,0.000000,256.750000,199.750000,0.000000
max,2021.0,365.000000,364.000000,258.000000,97.000000,61.000000,73.000000,12.000000,2723.000000,213.000000,122.000000,175.000000,364.000000,365.000000,365.000000,365.000000

In [22]:
c_data=pd.read_csv("annual_conc_by_monitor_2021.csv")
c_data.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,75th Percentile,50th Percentile,10th Percentile,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,1 HOUR,...,0.049,0.043,0.028,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2022-02-24
1,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.045,0.038,0.025,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2022-02-24
2,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.045,0.038,0.025,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2022-02-24
3,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.045,0.038,0.024,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2022-02-24
4,1,3,10,88101,1,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,24 HOUR,...,8.800,6.500,4.300,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2022-04-21